import 'package:flutter/material.dart';
import 'package:flutter_riverpod/flutter_riverpod.dart';
import 'package:{{project_name}}/src/routing/app_router.dart';
{{#if sentry}}import 'package:{{project_name}}/src/routing/go_router_delegate_listener.dart';
{{/if sentry}}import 'package:{{project_name}}/src/routing/initialization/app_startup_widget_wrapper.dart';

class {{project_name_pascal}}App extends ConsumerWidget {
  const {{project_name_pascal}}App({super.key});

  @override
  Widget build(BuildContext context, WidgetRef ref) {
    final appRouter = ref.watch(appRouterProvider);

    return MaterialApp.router(
      routerConfig: appRouter,
      theme: ThemeData(
        colorScheme: ColorScheme.fromSeed(seedColor: Colors.blue),
        useMaterial3: true,
      ),
      restorationScopeId: 'app',
      builder: (context, child) {
        return AppStartupWidgetWrapper(
          onLoaded: (_) =>{{#if sentry}} GoRouterDelegateListener(
            child: child ?? const SizedBox.shrink(),
          ),{{/if sentry}}{{#unless sentry}} child ?? const SizedBox.shrink(),{{/unless sentry}}
        );
      },
    );
  }
}
