import 'package:riverpod_annotation/riverpod_annotation.dart';

part '{{feature_name_snake}}_service.g.dart';

class {{feature_name_pascal}}Service {
  const {{feature_name_pascal}}Service();

  // TODO: Implement service logic
}

@riverpod
{{feature_name_pascal}}Service {{feature_name_camel}}Service({{feature_name_pascal}}ServiceRef ref) {
  return const {{feature_name_pascal}}Service();
}
