import 'package:flutter_bloc/flutter_bloc.dart';

sealed class {{feature_name_pascal}}State {
  const {{feature_name_pascal}}State();
}

final class {{feature_name_pascal}}Initial extends {{feature_name_pascal}}State {
  const {{feature_name_pascal}}Initial();
}

class {{feature_name_pascal}}Cubit extends Cubit<{{feature_name_pascal}}State> {
  {{feature_name_pascal}}Cubit() : super(const {{feature_name_pascal}}Initial());

  // TODO: Add {{feature_name_pascal}} logic
}
