import 'package:get/get.dart';

class {{feature_name_pascal}}Controller extends GetxController {
  // TODO: Add reactive state
  // final count = 0.obs;

  @override
  void onInit() {
    super.onInit();
    // TODO: Initialize {{feature_name_pascal}} controller
  }
}
