abstract class {{feature_name_pascal}}Repository {
  // TODO: Define {{feature_name_pascal}} repository contract
}

class {{feature_name_pascal}}RepositoryImpl implements {{feature_name_pascal}}Repository {
  const {{feature_name_pascal}}RepositoryImpl();

  // TODO: Implement {{feature_name_pascal}} repository
}
