import 'package:flutter/material.dart';

class {{feature_name_pascal}}Screen extends StatelessWidget {
  const {{feature_name_pascal}}Screen({super.key});

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: const Text('{{feature_name_pascal}}'),
      ),
      body: const Center(
        child: Text('{{feature_name_pascal}} screen'),
      ),
    );
  }
}
