import 'package:{{project_name}}/src/routing/app_route.dart';
import 'package:{{project_name}}/src/routing/route_names.dart';

class Routes {
  static AppRoute get home => const AppRoute('/', '/', RouteNames.home);
}
